@model IList<workshop1.Models.Order>
@{
    ViewBag.Title = "OrderList";
    IList<workshop1.Models.Customer> customers = ViewBag.Customers;
}

<h2>OrderList</h2>

<table>
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>客戶名稱</th>
            <th>訂購日期</th>
            <th>發貨日期</th>
            <th>運費</th>
        </tr>
    </thead>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderID</td>
            <td>@customers.Single(m => m.CustomerID == order.CustomerID).CompanyName</td>
            <td>@order.OrderDate.ToString("yyyy/MM/dd")</td>
            <td>@order.ShipedDate.ToString("yyyy/MM/dd")</td>
            <td>@order.Freight.ToString("#,###")</td>
        </tr>
    }
</table>

